NEXT_PUBLIC_SUPABASE_URL=https://bueabyhszssqvlkmjkhd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_07AGD7TFiM_iCe0lWI22YA_HgSWpvP4
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=https://YOUR-VERCEL-DOMAIN.vercel.app
IOT_WEBHOOK_SECRET=
DEVICE_WEBHOOK_URL=
HOME_ASSISTANT_URL=
HOME_ASSISTANT_TOKEN=
